<div *ngIf="showModalBox" class="" id="exampleModal" aria-hidden="true" class="h-100">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!showHistory" class="modal-title" id="exampleModalLabel">Podium</h5>
                <h5 *ngIf="showHistory" class="modal-title" id="exampleModalLabel">Historial de usuarios</h5>
            </div>
            <div *ngIf="!showHistory" class="modal-body">
                <div class="row podio" style="text-align: center;">
                    <div class="ms-auto winners-name" style="margin-top: 5vh;"><label style="margin-left: 4vw;"
                            for="">{{ puesto2 }}</label></div>

                    <div class="winners-name"><label for="">{{ puesto1 }}</label></div>

                    <div class="winners-name" style="margin-top: 7vh;"><label style="margin-right: 5vw;" for="">{{
                            puesto3 }}</label></div>
                </div>

            </div>
            <div *ngIf="showHistory" class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">JugadorID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of players">
                            <th scope="row">{{player.jugadorId}}</th>
                            <td>{{player.nombre}}</td>
                            <td>{{player.puntos}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="returnHome()">Crear nuevo juego</button>
                <button type="button" class="btn btn-primary" (click)="hideHistorial()">
                    <label *ngIf="!showHistory" for="">Historial de puntajes</label>
                    <label *ngIf="showHistory" for="">Ver podio</label>
                </button>
            </div>
        </div>
    </div>
</div>