<div class="card bg-news">
  <!--<img class="wave" src="../../../assets/wave.png">-->
  
	<div style="margin-left: 100px;" class="container">
		<div class="img">
	  <img src="../../../assets/img/F1-background.png">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img class="avatar_image" src="../../../assets/img/avatar_car.jpg">
				<!--<h2 class="title">Bienvenido</h2>-->
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Usuario</h5>
           		   		<input type="text" class="input" name="email" #userName required id="userName">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input" id="userPassword" name="password" #userPassword required>
            	   </div>
            	</div>
              <div>
                <a routerLink="../restAccount">¿Olvidaste la contraseña?</a>
                <a class="register" routerLink="../register">Resgistrarse</a>
              </div>
            	<input class="btn" value="Iniciar Sesion" (click)="authService.SignIn(userName.value, userPassword.value)">
              <div class="google-btn" (click)="authService.GoogleAuth()">
                <div class="google-icon-wrapper">
                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Iniciar con google</b></p>
              </div>
            </form>
        </div>
    </div>
</div>
