<form>
  <div class="mb-3">
    <label for="game-id" class="form-label">Ingrese ID de juego:</label>
    <input type="text" class="form-control" id="game-id" aria-describedby="gameId">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Jugador 1</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Jugador 2</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Jugador 3</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button *ngIf="raceCreated" class="btn btn-primary">Iniciar carrera</button>
</form>
<button *ngIf="!raceCreated" class="btn btn-primary" (click)="create()">Crear Carrera</button>
