.speedway{
    margin-top: -1%;
    background-image: url("../../../../assets/img/pista-carrera.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    height:100%;
    width:100%;
    position:fixed;
    border: 1px solid black;
}

.car {
    background-repeat: no-repeat;
    position: static;
    height:5%;
    width:5%;

}

.car1{
    background: url("../../../../assets/img/avatar_car.jpg") no-repeat 0 0;
    background-size: 100% 100%;
    position:fixed;
    overflow:hidden;
    top: 796px;
    left: 600px;
}

.car2{
    background: url("../../../../assets/img/gokart.png") no-repeat 0 0;
    background-size: 100% 100%;
    position:fixed;
    overflow:hidden;
    top: 847px;
    left: 600px;
}

.car3{
    top: 740px;
    left: 600px;
    background: url("../../../../assets/img/avatar_car.jpg") no-repeat 0 0;
    background-size: 100% 100%;
    position:fixed;
    overflow:hidden;
}