.speedway {
    background: url("../../../../assets/img/pista-carrera.png") no-repeat 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    border: 1px solid black;
}

.car {
    background-repeat: no-repeat;
    position: static;
    height: 5%;
    width: 5%;

}

.car1 {
    background: url("../../../../assets/img/buggati.png") no-repeat 0 0;
    top: 82vh;
    left: 32vw;
    position: fixed;
    background-size: 100% 100%;
    //animation: car1-run 20s normal;
}

.car2 {
    background: url("../../../../assets/img/F1.png") no-repeat 0 0;
    top: 88vh;
    left: 32vw;
    position: fixed;
    background-size: 100% 100%;
    //animation: car2-run 20s normal;
}

.car3 {
    background: url("../../../../assets/img/porsche.png") no-repeat 0 0;
    top: 76vh;
    left: 32vw;
    position: fixed;
    background-size: 100% 100%;
    //animation: car3-run 20s normal;
}

.podio {
    width: 40%;
    height: 70%;
}

.player-name {
    position: absolute;
    transform: translateY(15px) translateX(-51px) rotate(-90deg);
    text-align: center;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

@keyframes car1-run {
    0% {
        transform: translateX(0px);
    }

    12% {
        transform: translateX(32vw);
    }

    13% {
        transform: translateX(32vw) rotate(-90deg);
    }

    25% {
        transform: translateX(32vw) translateY(-30vh) rotate(-90deg);
    }

    26% {
        transform: translateX(32vw) translateY(-30vh);
    }

    38% {
        transform: translateX(52vw) translateY(-30vh);
    }

    39% {
        transform: translateX(52vw) translateY(-30vh) rotate(-90deg);
    }

    41% {
        transform: translateX(52vw) translateY(-68vh) rotate(-90deg);
    }

    42% {
        transform: translateX(52vw) translateY(-68vh) rotate(-180deg);
    }

    54% {
        transform: translateX(13vw) translateY(-68vh) rotate(-180deg);
    }

    55% {
        transform: translateX(13vw) translateY(-68vh) rotate(-270deg);
    }

    67% {
        transform: translateX(13vw) translateY(-40vh) rotate(-270deg);
    }

    69% {
        transform: translateX(13vw) translateY(-40vh) rotate(-180deg);
    }

    81% {
        transform: translateX(-22vw) translateY(-40vh) rotate(-180deg);
    }

    82% {
        transform: translateX(-22vw) translateY(-40vh) rotate(-270deg);
    }

    94% {
        transform: translateX(-22vw) translateY(0vh) rotate(-270deg);
    }

    95% {
        transform: translateX(-22vw) translateY(0vh) rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes car2-run {
    0% {
        transform: translateX(0px);
    }

    12% {
        transform: translateX(35vw);
    }

    13% {
        transform: translateX(35vw) rotate(-90deg);
    }

    25% {
        transform: translateX(35vw) translateY(-30vh) rotate(-90deg);
    }

    26% {
        transform: translateX(35vw) translateY(-30vh);
    }

    38% {
        transform: translateX(56vw) translateY(-30vh);
    }

    39% {
        transform: translateX(56vw) translateY(-30vh) rotate(-90deg);
    }

    41% {
        transform: translateX(56vw) translateY(-82vh) rotate(-90deg);
    }

    42% {
        transform: translateX(56vw) translateY(-82vh) rotate(-180deg);
    }

    54% {
        transform: translateX(10vw) translateY(-82vh) rotate(-180deg);
    }

    55% {
        transform: translateX(10vw) translateY(-82vh) rotate(-270deg);
    }

    67% {
        transform: translateX(10vw) translateY(-53vh) rotate(-270deg);
    }

    69% {
        transform: translateX(10vw) translateY(-53vh) rotate(-180deg);
    }

    81% {
        transform: translateX(-25vw) translateY(-53vh) rotate(-180deg);
    }

    82% {
        transform: translateX(-25vw) translateY(-53vh) rotate(-270deg);
    }

    94% {
        transform: translateX(-25vw) translateY(0vh) rotate(-270deg);
    }

    95% {
        transform: translateX(-25vw) translateY(0vh) rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes car3-run {
    0% {
        transform: translateX(0px);
    }

    12% {
        transform: translateX(29vw);
    }

    13% {
        transform: translateX(29vw) rotate(-90deg);
    }

    25% {
        transform: translateX(29vw) translateY(-30vh) rotate(-90deg);
    }

    26% {
        transform: translateX(29vw) translateY(-30vh);
    }

    38% {
        transform: translateX(50vw) translateY(-30vh);
    }

    39% {
        transform: translateX(50vw) translateY(-30vh) rotate(-90deg);
    }

    41% {
        transform: translateX(50vw) translateY(-57vh) rotate(-90deg);
    }

    42% {
        transform: translateX(50vw) translateY(-57vh) rotate(-180deg);
    }

    54% {
        transform: translateX(17vw) translateY(-57vh) rotate(-180deg);
    }

    55% {
        transform: translateX(17vw) translateY(-57vh) rotate(-270deg);
    }

    67% {
        transform: translateX(17vw) translateY(-30vh) rotate(-270deg);
    }

    69% {
        transform: translateX(17vw) translateY(-30vh) rotate(-180deg);
    }

    81% {
        transform: translateX(-18vw) translateY(-30vh) rotate(-180deg);
    }

    82% {
        transform: translateX(-18vw) translateY(-30vh) rotate(-270deg);
    }

    94% {
        transform: translateX(-18vw) translateY(0vh) rotate(-270deg);
    }

    95% {
        transform: translateX(-18vw) translateY(0vh) rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}