<app-header></app-header>
<div class="speedway">
    <div class="car car1">
        <p class="player-name text-blue">Jugador 1</p>
    </div>
    <div class="car car2">
        <p class="player-name text-red">Jugador 2</p>
    </div>
    <div class="car car3">
        <p class="player-name text-green">Jugador 3</p>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Resultados
    </button>
  
    
</div>

<!-- Modal 
<div class="modal-dialog modal-dialog-centered" id="exampleModal" style="border: 1px solid black" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Podium</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="border: 1px solid black" class="modal-body">
                <img src="../../../../assets/img/podio.png" style="border: 1px solid black" alt="" class="podio">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Finalizar Carrera</button>
            </div>
        </div>
    </div>
</div>-->
    
