<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <div class="content position-absolute d-flex align-content-center justify-content-center col-6">
            <div class="card" id="forgot-card">
                <div class="card-header">
                    <a class="text-white" routerLink="/login">
                        <em class="fa fa-arrow-left"></em>
                        Regresar
                    </a>
                </div>
                <div class="card-body">
                    <form class="text-center" action="index.html">
                        <img class="avatar_image" src="../../../assets/img/avatar_car.jpg" alt="login image" width="150">
                        <div class="input-div one">
                            <div class="i">
                                <em class="fas fa-user"></em>
                            </div>
                            <div class="div">
                                <h5>Email</h5>
                                <input type="text" class="input rounded-pill" name="email" #userEmail required id="userEmail">
                            </div>
                        </div>
                        <input id="forgot-btn" class="btn" value="Recuperar Contraseña"
                            (click)="forgotPassword(userEmail.value)">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>