<app-header></app-header>
<div class="row position-absolute w-100 h-100 m-0 il-1">
    <div id="game-form" class="col-sm-4 align-self-center d-flex h-100">
      <div id="game-form-card" class="card text-white">
        <app-create-game></app-create-game>
      </div>
    </div>
    <div class="col-sm-8 p-0 d-flex align-items-center justify-content-center">
        <button id="start-button" class="position-absolute i-1">
            <em id="start-icon" class="fa fa-play-circle fa-10x"></em>
            <h2 class="bg-green">
                Start
            </h2>
        </button>
        <div id="game-carousel" class="carousel slide w-100 h-100" data-bs-ride="carousel">
            <div class="carousel-inner w-100 h-100">
                <div class="carousel-item active w-100 h-100">
                    <div id="slide-1" class="w-100 h-100 d-block"></div>
                </div>
                <div class="carousel-item w-100 h-100">
                    <div id="slide-2" class="w-100 h-100 d-block"></div>
                </div>
                <div class="carousel-item w-100 h-100">
                    <div id="slide-3" class="w-100 h-100 d-block"></div>
                </div>
            </div>
        </div>
    </div>
</div>

