.pad-15 {
    padding: 15px;
}

#game-form-card {
    width: max-content;
    margin: auto;
}

#slide-1 {
    background-image: url('../../../../assets/img/slide-1.jpg');
    background-size: cover;
}

#slide-2 {
    background-image: url('../../../../assets/img/slide-2.jpg');
    background-size: cover;
}

#slide-3 {
    background-image: url('../../../../assets/img/slide-3.jpg');
    background-size: cover;
}

.il-1 {
    z-index: -1;
}

#game-form {
    background-image: linear-gradient(to right, #5e970c, #8eb928, #c2df47);
}

#game-form-card {
	width: fit-content;
	background-color: rgba(0, 0, 0, .4);
	margin: auto;
}

#start-button-1, #start-button-2 {
    background: none;
    border: none;
    transition: transform 1s;
}

#start-icon {
    border-radius: 100%;
    background-color: #FFFFFF;
    color: #5e970c;
}

#start-icon::before {
    border-radius: 100%;
    z-index: 1;
    box-shadow: 0 0 0 0 rgba(94, 151, 12, 1);
    animation: pulse 1.5s infinite;
}

#start-button-1 > h2, #start-button-2 > h2 {
    color: #5e970c;
    text-shadow: 2px 2px 0px #ffffff;
}

#start-button-1:hover, #start-button-2:hover {
    transform: scale(1.1);
}

#start-race {
    background: none;
    box-shadow: 5px 10px 18px #f5f4f4;
    border-radius: 20px;
    animation: scale 1.5s infinite;
}

#track-1 {
    background: url("../../../../assets/img/pista-carrera.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}

#track-2 {
    background: url("../../../../assets/img/pista2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30vw;
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

@keyframes pulse {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(94, 151, 12, .8);
    }
    70% {
        transform: scale(1.35);
        box-shadow: 0 0 0 25px rgba(94, 151, 12, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(94, 151, 12, 0);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

